<ejs-script src="../../public/js/ejs.min.js"></ejs-script>
<div class="splitview skewed">
    <div class="panel bottom">
        <div class="content">
            <div class="description">
                <h1>FOOTBALL BLOG</h1>
                <p>Đồ án Web</p>
            </div>

            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/original-image.jpg" alt="Original">
        </div>
    </div>

    <div class="panel top">
        <div class="content">
            <div class="description">
                <h1>Z66</h1>
                <p>Vũ Trí Tùng - TH25.02</p>
            </div>

            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/duotone-image.jpg" alt="Duotone">
        </div>
    </div>

    <div class="handle"></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var parent = document.querySelector('.splitview'),
        topPanel = parent.querySelector('.top'),
        handle = parent.querySelector('.handle'),
        skewHack = 0,
        delta = 0;

    // If the parent has .skewed class, set the skewHack var.
    if (parent.className.indexOf('skewed') != -1) {
        skewHack = 1000;
    }

    parent.addEventListener('mousemove', function(event) {
        // Get the delta between the mouse position and center point.
        delta = (event.clientX - window.innerWidth / 2) * 0.5;

        // Move the handle.
        handle.style.left = event.clientX + delta + 'px';

        // Adjust the top panel width.
        topPanel.style.width = event.clientX + skewHack + delta + 'px';
    });
});
</script>
